<!DOCTYPE html>
<html lang="en">
<head>
	<title>Citation Request Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="css/layout.css" rel="stylesheet">
	<link href="css/skin.css" rel="stylesheet">

</head>
<body>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Scopus </strong> <small>Citation Request</small></div>
			<div class="panel-body">

				<!-- Standard Form -->
				<h4>Select files from your computer</h4>
				<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
					<div class="form-inline">
						<div class="form-group">
							<input type="file" name="files[]" id="js-upload-files" multiple>
						</div>
						<button type="submit" class="btn btn-sm btn-success" id="js-upload-submit">Upload files</button>
					</div>
				</form>

				<!-- Drop Zone -->
				<h4>Or drag and drop files below</h4>
				<div class="upload-drop-zone" id="drop-zone">
					Just drag and drop files here
				</div>

			</div>
		</div>
	</div> <!-- /container -->

</body>
</html>
